<%- include("partials/header.ejs") %>

<main class="container">
    <div class="pb-4 p-md-5 mb-4 rounded top-banner">
      <div class="col-lg-8 px-0 banner-title">
        <h1 class="display-4 fst-italic">Welcome to Kayo's blog</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
      </div>
      <div class="col-lg-4 px-0 banner-image">
        <img src="assets/top-flower.png" alt="flower image">
      </div>
    </div>

  
    <div class="row g-5 mt-5">
        <div class="col-md-4">
            <div class="position-sticky" style="top: 2rem;">
              <div class="p-4 mb-3 author rounded">
                <h4 class="fst-italic">About the Author</h4>
                <img src="assets/profile.PNG" alt="profile image" class="about">
                <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
              </div>
      
              <div class="mt-5">
                <h4 class="fst-italic">Recent posts</h4>
                <ul class="list-unstyled">
                  <li>
                    <% if (locals.posts) { %>
                        <% posts.forEach(post => { %>
                            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                            <img class="bd-placeholder-img post-placehodler" src="assets/top-flower.png" aria-hidden="true" preserveAspectRatio="xMidYMid slice"><rect width="100%" height="100%" fill="#777"></rect></img>
                            <div class="col-lg-8">
                              <h6 class="mb-0"><%= post.title %></h6>
                              <small class="text-body-secondary">January 15, 2024</small>
                            </div>
                          </a>
                        <%  }); %>                     
                    <% } else { %>
                        <p>No post</p>
                    <% } %>
                  </li>
                </ul>
              </div>
      
              <div class="p-4">
                <h4 class="fst-italic">Archives</h4>
                <ol class="list-unstyled mb-0">
                  <li><a href="#">March 2021</a></li>
                  <li><a href="#">February 2021</a></li>
                  <li><a href="#">January 2021</a></li>
                  <li><a href="#">December 2020</a></li>
                  <li><a href="#">November 2020</a></li>
                  <li><a href="#">October 2020</a></li>
                  <li><a href="#">September 2020</a></li>
                  <li><a href="#">August 2020</a></li>
                  <li><a href="#">July 2020</a></li>
                  <li><a href="#">June 2020</a></li>
                  <li><a href="#">May 2020</a></li>
                  <li><a href="#">April 2020</a></li>
                </ol>
              </div>

            </div>
        </div>

      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          Article
        </h3>
  
        <article class="blog-post">
            <% if (locals.title) { %>
                <h2 class="display-5 link-body-emphasis mb-1"><%= title %></h2>
                <p class="blog-post-meta"> <%= new Date() %></p>
                <p><%= content %></p>
            <% } else { %>
                <h2>No post yet</h2>
                <p>You can write your article by clicking the button "Write an article" at the top of this page.</p>
                <hr>
            <% } %>
          
          
        </article>
  
        
  
        <nav class="blog-pagination mt-5" aria-label="Pagination">
          <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
          <a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
        </nav>
  
      </div>
      
    </div>
  
  </main>

<%- include("partials/footer.ejs") %>
